.anime-style {
  text-align: center;
  padding: 10px 0;
  background-image: linear-gradient(#4267b2, rgb(173, 172, 196));
}

.anime-style ul {
  list-style: none;
}

.genres {
  padding: 10px 10px;
  text-decoration: underline;
}

.space {
  padding: 15px 0;
}
